html,
body {
  color-scheme: dark;
  background: var(--bckg-primary)
}
html[data-color-mode="light"] {
  --bckg-primary: #212121;
  --bckg-dark: #1a1a1a;
  --bckg-light: #333333;
  --bckg-lighter: #454545;

  --txt-primary: #fff;
  --txt-secondary: #ccc;
  --txt-secondary-dark: #afafaf;
  --txt-accent: var(--clr-main-light);

  --clr-main-primary: #4e9f3d;
  --clr-main-dark: #3b7a2f;
  --clr-main-light: #64b950;

  --link-primary: var(--clr-main-light);
  --link-hover: color-mix(in srgb, var(--clr-main-light) 60%, white);
  --link-active: color-mix(in srgb, var(--clr-main-dark) 70%, white);

  --bar-s0: color-mix(in srgb, var(--clr-main-primary) 80%, black);
  --bar-s0-hvr: color-mix(in srgb, var(--clr-main-primary) 70%, black);

  --bar-s1: color-mix(in srgb, var(--clr-main-dark) 90%, black);
  --bar-s1-hvr: color-mix(in srgb, var(--clr-main-dark) 80%, black);

  --bar-s2: color-mix(in srgb, var(--clr-main-light) 100%, white);
  --bar-s2-hvr: color-mix(in srgb, var(--clr-main-light) 90%, white);

  --bar-s3: color-mix(in srgb, var(--clr-main-light) 80%, white);
  --bar-s3-hvr: color-mix(in srgb, var(--clr-main-light) 70%, white);

  --selection-bckg: #ffffff1a;
  --selection-search: #00ff0839;
}
:root {
  --is-colored: var(--bckg-dark);
  --dropdown: #3e3e3e;
  --dropdown-hvr: #4e5257;
  --dropdown-active: #5c6167;
}

html[data-color-mode="light"] {
  --link-color: var(--link-primary);
  --link-hover-color: var(--link-hover);
  --link-active-color: var(--link-active);
  --headline-background-color: var(--bckg-primary);
  --headline-border-color: var(--clr-main-primary);
}

/* #select text  */
::selection {
  z-index: 2;
  color: var(--txt-primary);
  background-color: var(--selection-bckg);
}

/* #login  */
.p-dashboards-show .v2 .devise {
  background: var(--bckg-dark);
  border-color: var(--bckg-lighter);
}

/* #arrow to up  */
.b-to-top.active .arrow {
  color: var(--txt-primary);
}
.b-to-top .slide:before {
  background-color: var(--bckg-lighter);
}
/* #global search */
.l-top_menu-v2 .global-search .search-results,
.l-top_menu-v2 .global-search .search-results .nothing_found,
.l-top_menu-v2 .global-search .search-results .search-mode {
  background: var(--bckg-light);
  color: var(--txt-primary);
  border-color: var(--clr-main-dark);
}
/* remove shadow #search  */
.l-top_menu-v2 .global-search .search-results:after,
.l-top_menu-v2 .global-search .search-results:before {
  display: none;
}
/* #search left border */

.l-top_menu-v2
  .global-search
  .search-results
  :is(
    .nothing_found.active,
    .nothing_found:focus,
    .b-db_entry-variant-list_item.active,
    .b-db_entry-variant-list_item:focus,
    .search-mode.active,
    .search-mode:focus
  ):before {
  background: var(--clr-main-primary);
}
.l-top_menu-v2 .global-search .search-results .active {
  background: none !important;
  border-top-color: var(--clr-main-light) !important;
}
.l-top_menu-v2 .global-search .search-results .active + .search-mode {
  border-top-color: var(--clr-main-light) !important;
}
.l-top_menu-v2 .global-search .search-results .search-mode:hover:before {
  background: var(--clr-main-dark);
}
/* Set different #elements to text secondary  */
.b-tag,
header.head .notice,
.b-stats_bar .title,
:is(.b-user_rate, .b-catalog_entry-tooltip) .inner :is(.rating .text, .rating),
.b-catalog_entry .cover .misc span,
.p-profiles-show .profile-content .activity .title,
.p-profiles-show .lifetime .times .time.checked,
.p-profiles-show .achievements .header .title,
.b-news_line-topic .status-line,
.p-profiles .profile-head .c-info .c-additionals b,
.p-user_rates-index .list-groups .summary.lines,
.bar.vertical .line .x_label,
.bar.horizontal .line .x_label,
.b-entry-info .line .value,
.b-rate .score-notice,
.b-animes-menu .total-rates,
.b-review-topic.is-review_review_author_details
  > .inner
  .review-details
  .b-status-line,
.b-review-topic.is-review_review_author_details
  > .inner
  .review-info
  .user-rate-label,
.b-comment > .inner .name-date .time,
.b-db_entry-variant-list_item > .info .line .key,
.profile-actions
  :is(
    .mail,
    .settings,
    .ban,
    .talk,
    .fav-add,
    .ignore-add,
    .fav-remove,
    .ignore-remove
  ),
.b-comment > .inner .name-date a.name .normal,
.b-catalog_entry-tooltip .inner .additional-images .link .title,
.l-top_menu-v2.is-search-focus .global-search .search-marker,
.b-user.detailed .history .line .event,
.b-user.moderation .history .line .event,
.item-add {
  color: var(--txt-secondary);
}
.p-user_rates-index .list-lines tr td .episodes_total,
.b-subposter-action,
.l-top_menu-v2 .global-search .clear,
.l-top_menu-v2 .global-search {
  color: var(--txt-secondary-dark);
}

.p-topics header h1 a.reload {
  color: var(--txt-accent);
}
/* Set different #elements to text primary  */

:is(.b-user_rate, .b-catalog_entry-tooltip) .inner .line .key,
.p-user_rates-index .l-content .order-control,
.b-block_list li,
.b-rate .text-score,
h2,
h3,
h4,
header.head h1,
header.head h2,
.headline,
.midheadline,
.subheadline {
  color: var(--link-primary);
}
/* #tooltip (hover title) */
.tooltip-inner,
:is(.p-animes-franchise, .p-mangas-franchise, .p-ranobe-franchise)
  .sticky-tooltip {
  background-color: var(--bckg-light);
  color: var(--txt-primary);
  border-color: var(--bckg-light);
  box-shadow: 0 0 2px var(--txt-primary);
}
/* remove default #arrow on left side and set custom  */
.tooltip-arrow {
  visibility: hidden;
}
.tooltip-arrow::before {
  content: "";
  display: block;
  visibility: visible;
  border: 24px solid transparent;
  border-right-color: var(--bckg-primary);
  position: absolute;
  left: -26px;
}
.tooltip-left .tooltip-arrow::before {
  left: 0;
  border-right-color: transparent;
  border-left-color: var(--bckg-primary);
}
/* remove close #button */
:is(.sticky-tooltip, .tooltip-inner) .close {
  display: none;
}

/* #form action list and list title */
:is(.b-user_rate, .b-catalog_entry-tooltip)
  .b-add_to_list
  :is(.trigger, .option),
.b-add_to_list :is(.trigger, .option) {
  color: var(--txt-secondary) !important;
  background: var(--bckg-primary) !important;
  border-color: var(--bckg-dark) !important;
}
:is(.b-user_rate, .b-catalog_entry-tooltip)
  .b-add_to_list
  :is(.trigger, .edit) {
  color: var(--clr-main-primary);
}

/* #profile */
.b-stats_bar .stat_names .stat_name a {
  color: var(--txt-secondary);
}

/* #hover faq */
.tipsy-inner {
  box-shadow: none;
  background-color: var(--bckg-dark);
}
.tipsy.tipsy-normal.tipsy-s {
  opacity: 1 !important;
}

/* style #bars for profile  */
.b-stats_bar.manga .bar .first{
  background:#78215d;
}
.b-stats_bar.manga .bar .second {
  background: #923976;
}
.b-stats_bar.manga .bar .third {
  background: #cc69ad;
}
.bar.simple .bar.s0,
.b-stats_bar:is(.anime, .lifetime) .bar .first {
  background: var(--bar-s0);
}
.bar.simple .bar.s1 {
  background: var(--bar-s1);
}
.bar.simple .bar.s2,
.b-stats_bar:is(.anime, .lifetime) .bar .second {
  background: var(--bar-s2);
}
.bar.simple .bar.s3,
.b-stats_bar:is(.anime, .lifetime) .bar .third {
  background: var(--bar-s3);
}

.bar.simple .bar.s0:hover,
.b-stats_bar:is(.anime, .lifetime) .bar .first:hover {
  background: var(--bar-s0-hvr);
}
.bar.simple .bar.s1:hover {
  background: var(--bar-s1-hvr);
}
.bar.simple .bar.s2:hover,
.b-stats_bar:is(.anime, .lifetime) .bar .second:hover {
  background: var(--bar-s2-hvr);
}
.bar.simple .bar.s3:hover,
.b-stats_bar:is(.anime, .lifetime) .bar .third:hover {
  background: var(--bar-s3-hvr);
}
/* #input style #button */
.subheadline-input[type="submit"],
.subheadline-input[type="text"],
.subheadline-input[type="password"],
.subheadline-input[type="email"],
.b-form input,
.b-button,
.b-input input,
.b-form input[type="submit"],
.l-top_menu-v2 .global-search input,
.b-link_button.dark,
.b-form textarea,
.b-input textarea,
.b-shiki_editor .links .link-value,
.b-shiki_editor .images .link-value,
.b-shiki_editor .quotes .link-value,
.b-shiki_editor .upload .link-value,
.b-link_button,
.b-poll .poll-actions .vote,
.b-poll .poll-actions .abstain {
  background: var(--bckg-lighter);
  color: var(--txt-primary);
  border-color: grey;
  outline: 0 !important;
}
input:focus {
  border-color: grey !important;
}
.b-form input[type="submit"]:hover,
.b-button:hover,
.b-link_button.dark:hover,
.b-link_button:hover,
.b-poll .poll-actions .vote:hover,
.b-poll .poll-actions .abstain:hover {
  border-color: grey;
  background-color: var(--bckg-primary);
}
.b-form.green-form {
  background: var(--bckg-dark);
  border-color: grey;
}

.b-input input[disabled] {
  background-color: var(--bckg-light);
}
.l-top_menu-v2 .global-search input {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
/* #input data  */
.pika-single,
.pika-label {
  color: var(--txt-primary);
  background: var(--bckg-light);
}
.pika-button,
.is-today .pika-button {
  background-color: var(--bckg-lighter);
  color: var(--txt-secondary) !important;
}
.pika-button:hover {
  background-color: var(--clr-main-dark);
}
.is-selected .pika-button {
  background-color: var(--clr-main-primary);
  box-shadow: none;
}
:is(.is-disabled, .pika-day) .pika-button {
  background-color: var(--bckg-dark);
}

/*   #message  */
.yellow-fade {
  outline: 10px solid var(--bckg-dark);
  background: var(--bckg-dark);
}
/* style for #list  */

.p-user_rates-index .list-lines tr td .rewatches {
  color: skyblue;
}
.p-user_rates-index .list-lines tr .name a,
.p-user_rates-index .list-lines tr .index {
  color: var(--txt-secondary);
}

.p-user_rates-index .list-lines .selectable:hover {
  background-color: var(--bckg-primary);
}
.p-user_rates-index .list-lines tr.edit-form form {
  background-color: var(--bckg-primary);
}
.collapsed {
  background-color: var(--bckg-primary);
  color: var(--txt-secondary);
  border: 0;
}
.collapsed:hover {
  background-color: var(--bckg-dark);
  color: var(--txt-secondary);
}

/* #list checkboxes*/
.b-block_list li {
  height: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 4px;
}
.b-block_list li:hover,
.b-block_list li.selected {
  background-color: var(--bckg-primary);
  color: var(--txt-primary);
}
/* #list checkmark  */
.b-collection-filters .block > .filter {
  margin: 0;
  height: 30px;
  line-height: 30px;
}
/* #check radio #input  */
.b-radio input[type="radio"]:checked + .radio-label:before {
  border-color: var(--txt-accent);
}
/* #list plus/minus  */
.item-add:first-child {
  right: 0;
  display: grid;
  place-content: center;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  font-size: 12px;
  text-align: center;
  visibility: visible;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 2px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  background-color: var(--bckg-lighter);
}
input[type="checkbox"]:disabled::before {
  background: #9f4646;
}
input[type="checkbox"]:checked::before {
  background: url(https://raw.githubusercontent.com/Dedonych/Shikimori-Dark-Theme/main/checkmark.svg)
    no-repeat;
  background-size: contain;
  width: 13px;
  border: 1px solid transparent;
  background-color: var(--clr-main-dark);
}

/* #avatar style  */
.avatar img[alt],
.icon-avatar img,
.profile a img[alt],
.image-name .image {
  border-radius: 50% !important;
}

/* #main a>div */
.b-news_wall-topic .title {
  color: var(--link-primary);
}

/* #main my-list dashboard  */
.p-dashboards-show .v2 .my-list {
  background: var(--bckg-primary);
  border: 0;
}
.p-dashboards-show .v2 .my-list .label span {
  color: var(--txt-primary);
}

.b-user_rate-history .status-counter,
.b-user_rate-history .score-time time,
.b-animes-menu .menu-topics-block .entry .time {
  color: var(--txt-secondary);
}

/* #main colors */

.red,
.p-dashboards-show .v2 .fc-user-sections .tag-link.anime-tag {
  background-color: darkred;
  color: lightcoral;
  border-color: lightcoral;
}

.p-dashboards-show .v2 .fc-user-sections .tag-link.anime-tag:hover {
  background-color: #3b0707;
}
.blue,
.p-dashboards-show .v2 .fc-user-sections .tag-link.manga-tag {
  background-color: darkblue;
  color: dodgerblue;
  border-color: dodgerblue;
}
.p-dashboards-show .v2 .fc-user-sections .tag-link.manga-tag:hover {
  background-color: #052642;
}
.green,
.p-dashboards-show .v2 .fc-user-sections .tag-link.ranobe-tag {
  background-color: darkgreen;
  color: springgreen;
  border-color: springgreen;
}
.p-dashboards-show .v2 .fc-user-sections .tag-link.ranobe-tag:hover {
  background-color: #094d0b;
}

.p-dashboards-show
  .v2
  .fc-user-sections
  .tag-link:is(.anime-tag, .ranobe-tag, .manga-tag) {
  border: 0;
}
.orange {
  color: orange;
}
.skyblue {
  color: skyblue;
}
.magenta {
  color: magenta;
}
.purple {
  color: fuchsia;
}
.gray {
  color: lightgrey;
}
.powderblue {
  color: powderblue;
}
.yellow {
  color: gold;
}
.pink {
  color: hotpink;
}
.brown {
  color: chocolate;
}
.brown,
.pink,
.yellow,
.red,
.blue,
.green,
.orange,
.magenta,
.purple,
.gray,
.powderblue,
.skyblue,
.b-errors .subheadline {
  background: var(--bckg-dark);
  border-color: currentColor;
}
/* #graph */
rect {
  fill: var(--bckg-dark);
}
:is(
    .brown,
    .pink,
    .yellow,
    .red,
    .blue,
    .green,
    .orange,
    .magenta,
    .purple,
    .gray,
    .powderblue,
    .skyblue,
    .b-errors .subheadline
  )
  > a:hover {
  text-decoration: underline;
  color: currentColor !important;
}
/* #offtop  */
.b-offtopic_marker.active:before,
.b-offtopic_marker.off:before,
.b-offtopic_marker.active:hover:before {
  background-color: #5c2940 !important;
  border: 0 !important;
}
/* #hover link colors  */
.linkheadline.midheadline > a:hover,
.linkheadline.midheadline > a:hover::before {
  color: currentColor;
}

/* #main status  */
.b-anime_status_tag.critique {
  background-color: #641e3c;
}
.b-anime_status_tag.contest {
  background-color: #6f30a0;
}
.b-anime_status_tag.news {
  background-color: #724120;
}
.b-anime_status_tag.collection {
  background-color: #0e5013;
}
.b-anime_status_tag:is(.studio, .other) {
  background-color: var(--bckg-primary);
  color: var(--txt-primary);
}
.b-anime_status_tag.studio:hover {
  background-color: #484848 !important;
}
.b-anime_status_tag {
  background-color: var(--bckg-primary);
  border: 0 !important;
  padding: 1px 6px !important;
  border-radius: 4px;
}
/* #status #bar  */
.b-achievement .c-about .progress .bar,
.b-achievement .about .progress .bar {
  background: var(--clr-main-light);
}
/* #catalog #title status */
.b-catalog_entry:is(
    .on_hold,
    .planned,
    .dropped,
    .watching,
    .rewatching,
    .completed
  )
  .image-decor:before {
  display: none;
}
.b-catalog_entry:is(
    .on_hold,
    .planned,
    .dropped,
    .watching,
    .rewatching,
    .completed
  )
  .image-decor:after {
  background-color: transparent;
  background-color: #212121;
  border: 2px solid currentColor;
  border-color: 0;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
}
.b-catalog_entry.on_hold .image-decor:after {
  color: grey;
}
.b-catalog_entry.planned .image-decor:after {
  color: lightgrey;
}
.b-catalog_entry.dropped .image-decor:after {
  color: lightcoral;
}
.b-catalog_entry.watching .image-decor:after {
  color: skyblue;
}
.b-catalog_entry.rewatching .image-decor:after {
  color: #71c5f9;
}
.b-catalog_entry.completed .image-decor:after {
  color: rgb(60, 204, 137);
}

/* #title three dots and #comments loader   */
:is(.p-animes-show, .p-mangas-show, .p-ranobe-show) .other-names,
.b-comments :is(.comments-loader, .comments-hider, .comments-expander),
.b-comments .faye-loader,
.b-forum .faye-loader {
  background-color: var(--bckg-dark);
  border-color: var(--txt-secondary-dark);
  border-radius: 4px;
  color: var(--txt-secondary);
}
:is(.p-animes-show, .p-mangas-show, .p-ranobe-show) .other-names:hover,
:is(.b-comments, .b-forum)
  :is(
    .comments-loader,
    .faye-loader,
    .comments-hider,
    .comments-expander
  ):hover {
  background-color: var(--bckg-primary);
  border-color: var(--txt-secondary-dark);
  border-radius: 4px;
  color: var(--txt-secondary);
}

/* #comments navigation  */
.b-reviews_navigation .navigation-node {
  background-color: var(--bckg-primary);
  color: var(--txt-primary);
  border-color: currentColor;
}

.b-reviews_navigation .navigation-node-all {
  color: var(--txt-secondary);
}
.b-reviews_navigation .navigation-node-positive {
  color: greenyellow;
}
.b-reviews_navigation .navigation-node-negative {
  color: crimson;
}
.b-reviews_navigation .navigation-node-neutral,
.b-review-topic.is-review_review_author_details > .inner .review-info .neutral {
  color: skyblue;
}

.b-reviews_navigation .navigation-node.is-empty:not(.is-active) .label,
.b-reviews_navigation .navigation-node.is-empty:not(.is-active) .count {
  color: currentColor;
  opacity: 0.4;
}
.b-reviews_navigation .navigation-node:not(.is-active):not(.is-empty):hover {
  background-color: var(--bckg-primary);
}

/* #comments rate review  */
.b-review-topic.is-review_review_author_details
  > .inner
  .review-info
  .opinion:is(.negative, .neutral, .positive) {
  background-color: transparent;
}
/* #forum comments style  */
.b-comment {
  border: 0;
  border-bottom: 1px solid var(--txt-secondary);
  margin: 12px 0;
  padding: 8px 0;
}

/* #comments replies  */
.b-replies {
  position: absolute;
  right: 0;
  bottom: 0px;
}
/* #title comments style  */
.b-topic {
  border: 0;
  border-bottom: 1px solid var(--txt-secondary);
  margin: 16px 0;
  padding-top: 4px;
}
/* #spoiler block  */
.b-spoiler_inline:not(.is-opened) {
  background-color: var(--txt-secondary-dark);
}

/* #comments shade off  */
.body.b-text_with_paragraphs {
  position: relative;
}
.b-height_shortener .shade {
  filter: invert(0.7);
}

/* #comments buttons  */
.main-controls
  :is(
    .item-moderation,
    .item-quote,
    .item-reply,
    .item-edit,
    .item-delete,
    .item-cancel,
    .item-ignore
  ) {
  color: var(--txt-secondary-dark);
}

/* #comments editor  */

/* #image  */
.ProseMirror
  :is(
    [data-image],
    [data-div],
    [data-link],
    [data-span],
    [data-video],

  ):hover:before {
  background-color: var(--bckg-lighter);
  color: var(--txt-accent);
  box-shadow: none;
  text-shadow: none;
}

.vue-node .menubar {
  background-color: var(--bckg-dark);
}
.vue-node .unsaved-content {
  background: var(--bckg-lighter);
}
.vue-node .icons :is(button, label).icon,
.buttons .b-tooltipped {
  color: var(--txt-secondary);
}
.ProseMirror,
code.b-code_inline,
.b-shiki_editor .body .editor textarea:not([rows]) {
  background-color: var(--bckg-primary);
  border-color: grey;
  color: var(--txt-primary);
}
.b-spoiler_inline.is-opened {
  background-color: rgb(82, 82, 82);
}
code.b-code_inline {
  color: #ba3453;
}
.b-shiki_editor .controls {
  margin: 0;
  padding: 14px 4px;
  background-color: var(--bckg-dark);
}
.popup-content {
  background-color: var(--bckg-light) !important;
}
.b-quote-v2,
.b-spoiler_block > div,
.b-quote .quoteable:before {
  background-color: var(--bckg-dark);
  color: var(--txt-primary);
}
.b-spoiler_block > span {
  background-color: var(--bckg-dark);
}
.b-spoiler_block > span:hover {
  background-color: var(--bckg-primary);
}

.b-quote {
  background-color: var(--bckg-dark);
  color: var(--txt-primary);
  border: 2px solid grey;
}

/* feedback remove  */
.b-feedback {
  display: none;
}

/* #spoiler block  */
.b-spoiler .content .before,
.b-spoiler .content .after {
  color: var(--txt-accent);
}
/* b-ajax style  */

/* remove prev loader */

.b-ajax::before,
.b-ajax::after,
.ajax-loading,
.ajax-loading.vk-like {
  background: none;
}

.b-ajax::after,
.ajax-loading::before {
  display: grid;
  place-content: center;
  height: 24px;
  width: 24px;
}
.b-ajax::after,
.ajax-loading::before {
  content: "";
  inset: 0;
  position: absolute;
  margin: auto;

  border: 5px solid var(--txt-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* #top #main menu  */
.l-top_menu-v2,
.x1000 .l-top_menu-v2 {
  background: var(--is-colored, black);
  position: sticky;
  inset: 0;
  margin: auto;
  max-width: 1200px;
}

.l-top_menu-v2 .menu-dropdown > span[tabindex] {
  background: rgba(0, 0, 0, 0.2);
  background: var(
    --dropdown,
    color-mix(in srgb, var(--clr-main-dark) 80%, black)
  );
}
.l-top_menu-v2 .menu-icon:is(:active, :focus),
.l-top_menu-v2 .menu-dropdown.active > span[tabindex] {
  /* background: rgba(0, 0, 0, 0.3); */
  background: var(
    --dropdown-hvr,
    color-mix(in srgb, var(--clr-main-dark) 70%, black)
  );
}
.l-top_menu-v2 .menu-icon:hover,
.l-top_menu-v2 .menu-dropdown.active > span[tabindex]:hover,
.l-top_menu-v2 .menu-dropdown > span a:is(:hover, :active, :focus) {
  /* background: rgba(0, 0, 0, 0.4); */
  background: var(
    --dropdown-active,
    color-mix(in srgb, var(--clr-main-dark) 60%, black)
  );
}

.l-top_menu-v2 .submenu > a {
  background-color: var(--bckg-primary);
}
.l-top_menu-v2 .submenu > a:is(:hover, :active) {
  background-color: var(--bckg-lighter);
  color: var(--txt-primary);
}
.l-top_menu-v2 .submenu > .legend {
  background: var(--bckg-light);
  color: var(--txt-secondary);
  text-align: center;
  margin: 0 !important;
  padding: 2px 0;
}

/* #forum header  */
header.head {
  border-bottom: 2px solid var(--bckg-primary);
}
header.head h1 a.back:before,
header.head h2 a.back:before {
  color: var(--txt-secondary);
}
/* #footer */
.b-footer_vote {
  background: var(--bckg-dark);
  color: var(--txt-secondary);
  border-color: var(--bckg-lighter);
}

/* #topic hot-topic  */
.b-hot_topics-v2 {
  background: var(--bckg-primary);
}
.b-hot_topics-v2 .subject {
  color: var(--txt-secondary);
}

/* profile css editor  */
.b-edit_styles .edit_style .style_css .CodeMirror,
.b-edit_styles .new_style .style_css .CodeMirror,
.cm-s-solarized.cm-s-light {
  background-color: var(--bckg-primary);
  text-shadow: none;
  border-color: var(--bckg-light);
  border-right: none;
}
.CodeMirror-gutter,
.cm-s-solarized.cm-s-light .CodeMirror-linenumber {
  color: var(--txt-primary);
  background-color: var(--bckg-dark);
}
.cm-s-solarized.cm-s-light div.CodeMirror-selected {
  background: var(--selection-bckg);
}
.cm-searching {
  background-color: var(--selection-search);
}
/* #main */
.l-page {
  background-color: var(--bckg-light);
}
/* #mobile toggler  */
.l-page .menu-toggler {
  width: 40px;
  height: 80px;
  position: fixed;
  top: calc(var(--top-menu-height) * 1.25);
}
.l-page .menu-toggler .toggler {
  position: absolute;
  display: grid;
  padding: 6px 8px;
  align-content: center;
  justify-items: center;
}
.l-page .menu-toggler .toggler,
.l-page .menu-toggler .toggler::after {
  background-color: var(--bckg-light);
  color: var(--txt-primary);
}
.l-page .menu-toggler .toggler::before {
  transform: none;
  writing-mode: vertical-lr;
  margin: 0;
}
.p-dashboards-show .v2 .fc-user-sections .f-user {
  max-width: 320px;
  width: auto;
}
.p-user_rates-index .list-groups .summary.posters,
.p-user_rates-index .list-groups .summary.lines.list {
  background: transparent;
  border: 0;
}
.p-user_rates-index .list-lines.b-table,
.list-posters.cc-5 {
  border-bottom: 1px solid grey;
}

.b-modal > .inner {
  background: var(--bckg-light);
}

/* #achievement  */
.b-achievements_notifier .achievement:is(.gained, .lost) {
  background: var(--bckg-dark);
  border-radius: 4px;
}

.p-dashboards-show .v2 .fc-user-sections .f-sections {
  display: grid;
}
.p-dashboards-show .v2 .fc-user-sections .f-sections :is(.f-headline, .f-tags) {
  width: 100%;
}
.p-dashboards-show .v2 .fc-user-sections .f-sections .fc-tags {
  position: relative;
  display: flex;
}

.b-show_more,
.b-show_more-more .hide-more {
  color: #cecece;
}
/* halloween */
html:has(body:is([data-server_time*="11-01T"], [data-server_time*="10-31T"])) {
  --is-colored: #ba7900;
  --clr-main-primary: #d18904;
  --clr-main-dark: #9e6700;
  --clr-main-light: #d19017;
  --dropdown: inherit;
  --dropdown-hvr: inherit;
  --dropdown-active: inherit;

& .l-top_menu-v2 .logo-container .glyph{
background-image:url(https://raw.githubusercontent.com/Dedonych/Shikimori-Dark-Theme/master/pumpkin.png);
filter:invert(1);
}
}
/*  x-mas*/
html:has(body:is([data-server_time*="-12-"],[data-server_time*="-01-"])){
  --is-colored: #a42c2c;
  --is-colored: #ba0000;
  --clr-main-primary: #ad1010;
  --clr-main-dark: #8c1616;
  --clr-main-light: #cc6666;
  --dropdown: inherit;
  --dropdown-hvr: inherit;
  --dropdown-active: inherit;
  & .l-top_menu-v2 .logo-container .glyph {
    background-image: url(https://raw.githubusercontent.com/Dedonych/Shikimori-Dark-Theme/master/gift.png);
    filter: invert(1);
  }
}
